*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    color: #333333;
}

h1{
    margin: 10px;
    /* border: 2px solid red; */
    color: #333333;
}

.food-container{
    display: flex;
    text-align: center;
    margin-top: 30px;
    font-size: 32px;
    flex: 1;
    justify-content: space-evenly;
    /* for debug purpose */
    border: 2px solid black;

}

.food-container a{
    text-decoration: none;
    color: #6B8E23;
    font-family: 'Poppins', sans-serif;
    /* border: 2px solid red; */
}

.food-item{
    padding: 10px;
    /* align-items: center; */
    /* for debug purpose */
    border: 2px solid black; 
    margin: 0 20px;
}


/* Recipes folder */
.nav-recipes li{
    display: inline-block;
    padding: 10px;
    margin-top:  10px;
    /* border: 2px solid red; */
}

.nav-recipes a{
    text-decoration: none;
    color: #6B8E23;
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
}

img{
    background-color: #F9F5EF;
    padding: 10px;
    width: 500px;
    height: 300px;
    display: block;
    margin: auto;
}


h3,p{
    padding: 10px;
}

.content ul,ol{
    padding: 10px 50px;
}